<Wrapper @next={{transition-to 'next-world'}}>
  <div local-class="content">
    <div local-class="spec">
      <p>
        Every block must be a cube with a minimum side length of 30mm and a maximum side length of 200mm.<br>
        Blocks are connected by a metal chain. The minimum block seperation is 100mm.
      </p>
      <p>
        5v power should be provided to the previous block.
      </p>
    </div>
  </div>
</Wrapper>